.cfxs-panel {
    background-color: var(--panel-background);
    border: solid 2px var(--panel-outline);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cfxs-panel-title {
    background-color: var(--panel-outline);
    height: var(--panel-title-height);
    min-width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;
}

.cfxs-h-sep {
    height: 2px;
    background-color: var(--panel-outline);
    margin: 0.25rem;
}

.cfxs-tree {
    --cfxs_tree_item_height: 1.25rem;
    --cfxs_tree_base_text_color: rgb(255, 255, 255);
    --cfxs_tree_line_color: #555;

    margin: 0;
    padding: 0.2rem;
}

.cfxs-tree details {
    position: relative;
}

.cfxs-tree-item {
    color: var(--cfxs_tree_base_text_color);
    position: relative;
    height: var(--cfxs_tree_item_height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.cfxs-tree summary {
    color: var(--cfxs_tree_base_text_color);
    position: relative;
    height: var(--cfxs_tree_item_height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.cfxs-tree-item[selected] {
    color: rgb(255, 255, 255);
}

.cfxs-tree-item[selected] {
    color: rgb(255, 253, 123);
}

.cfxs-tree ul {
    padding-left: 1rem;
}

.cfxs-tree summary,
.cfxs-tree li {
    font-family: monospace;
    font-size: 0.75rem;
}

.cfxs-tree li summary:hover,
.cfxs-tree li:not(:has(details)):hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.25rem;
}

.cfxs-tree li,
.cfxs-tree summary {
    padding-left: 0.25rem;
}

.cfxs-tree li:not(:has(details)) {
    position: relative;
    padding-left: 0.5rem;
}

.cfxs-tree li:not(:has(details))::before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: var(--cfxs_tree_line_color);
    top: calc(var(--cfxs_tree_item_height)/2);
    left: -0.85rem;
    width: 0.85rem;
}

/* .cfxs-tree details[open] li::after {
    display: inline-block;
    position: absolute;
    content: '';
    left: -0.88rem;
    width: 1px;
    background-color: #555;
    top: 0;
    bottom: 0;
} */

.cfxs-tree details[open] ul::after {
    display: inline-block;
    position: absolute;
    content: '';
    left: 3px;
    width: 1px;
    background-color: var(--cfxs_tree_line_color);
    top: var(--cfxs_tree_item_height);
    bottom: calc(var(--cfxs_tree_item_height)/2);
}

.cfxs-tree li::marker {
    content: '';
}

.cfxs-tree details>summary::marker {
    content: '';
}

.cfxs-tree details>summary::before {
    display: inline-block;
    content: '>';
    margin-right: 0.25rem;
    transition-duration: 100ms;
}

.cfxs-tree details[open]>summary::before {
    transform: rotate(90deg);
}

/*****************************/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(195, 195, 195);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.25);
}